{% extends 'base.html.twig' %}
{% block title %}Inscription !
{% endblock %}

{% block body %}
	<h4 style="text-align: center; margin-top: 50px">
		Inscription</h4>
	<div class="mx-auto " style="text-align: center; margin: 50px;">
		{{ form_start(form) }}

		<div class="form-group col-md-4 mx-auto shadow" style="border: solid 0.5px black; padding: 20px">
			{{ form_widget(form)}}
			<div class='form-error'>
				{{ form_errors(form) }}
			</div>
			<span>
				<a href="{{ path('app_login')}}">Vous avez déja un compte ?</a>
			</span>
		</div>


		{{ form_end(form) }}

	</div>

{% endblock %}
