{% extends 'base.html.twig' %}
{% form_theme formTrick 'bootstrap_4_layout.html.twig' %}
{% block title %}
	Créer une figure
{% endblock %}

{% block body %}
	{{ form_start(formTrick) }}

	{{ form_row(formTrick.title)}}
	{{ form_row(formTrick.content)}}
	{{ form_row(formTrick.groupeTrick)}}
	{{ form_row(formTrick.image)}}
	{{ form_row(formTrick.video)}}


	{{ form_end(formTrick) }}

	<!-- Submit Button-->
	<div class="d-grid">
		<button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Ajouter la figure</button>
	</div>

{% endblock %}
