{% extends 'base.html.twig' %}
{% form_theme formTrick 'bootstrap_4_layout.html.twig' %}
{% block title %}
	Créer une figure
{% endblock %}

{% block body %}

	<h4 style="text-align: center; margin-top: 50px">Veuillez renseigner tous les informations concernant votre nouvelle figure!
	</br>
	c'est à vous 💁
</h4>
{{ form_start(formTrick) }}

<div class="form-group col-md-6 mx-auto">
	{{ form_label(formTrick.title)}}
	{{ form_widget(formTrick.title)}}
	<div class='form-error'>
		{{ form_errors(formTrick.title) }}
	</div>
</div>

<div class="form-group col-md-6 mx-auto">
	{{ form_label(formTrick.content)}}
	{{ form_widget(formTrick.content)}}
	<div class='form-error'>
		{{  form_errors(formTrick.content) }}
	</div>
</div>

<div class="form-group col-md-6 mx-auto mt-4">

	{{ form_row(formTrick.categorie)}}
	<div class='form-error'>
		{{ form_errors(formTrick.categorie) }}
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md-6 mx-auto mt-4">

		{{ form_label(formTrick.imageFile)}}
		{{ form_widget(formTrick.imageFile)}}
		<div class='form-error'>
			{{ form_errors(formTrick.imageFile) }}
		</div>
	</div>

</div>
<div class="form-group col-md-6 mx-auto mt-4">

	{{ form_label(formTrick.video)}}
	{{ form_widget(formTrick.video)}}
	<div class='form-error'>
		{{ form_errors(formTrick.video) }}
	</div>
</div>
<div class="form-group col-md-6 mx-auto" style="margin-bottom: 100px">

	{{ form_row(formTrick.submit)}}

</div>


{{ form_end(formTrick) }}</div>{% endblock %}
