{% extends 'base.html.twig' %}

{% block body %}
	{% block title %}
		{{ trick.title }}
	{% endblock %}
	<div
		class="col-lg-9">
		<!-- Post content-->
		<article>
			<figure class="mb-4"><img class="img-fluid rounded" src={{ trick.image}} alt="..."/></figure>
			<!-- Post content-->
			<section class="mb-5">
				<p class="fs-5 mb-4">{{ trick.content }}</p>
				<div>
					<ul>
						<li>{{ trick.groupeTrick }}</li>
						<li>{{ trick.createdAt | date('d/m/Y') }}
							à
							{{ trick.createdAt | date('H:i') }}</li>
					</ul>
				</div>
			</section>
		</article>
		{% endblock %}
