{% extends 'base.html.twig' %}
{% block title %}
	{{ trick.title }}
{% endblock %}
{% block body %}

	<div
		class="show-card " style="display: flex; flex-direction: row; flex-wrap: wrap; ">
		{# <img src={{ vich_uploader_asset(trick, 'imageFile') }}  alt="" class="img-thumbnail shadow" style="width: 250px; height: 200px; margin: 10px;"> #}

		{% for image in trick.image %}
			<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ trick.title }}" class="img-thumbnail shadow" style="width: 12rem; height: 12rem; margin: 10px;"/>
		{% endfor %}
		  {% for video in trick.videos %}
        <div class="trickVideo shadow" style="width: 12rem; height: 12rem; margin: 10px;">
            <iframe id="video{{ video.id }}" width="100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <script>
            var regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
            var url = "{{ video.url }}";
            var match = url.match(regExp);
            if (match && match[2].length == 11) 
            {
                var id = match[2];
                var embedlink = "http://www.youtube.com/embed/" + id;
                var iframe = document.getElementById("video{{ video.id }}");
                iframe.src = embedlink;
            }
        </script>
    {% endfor %}
    </div>
	</div>

	<div class="content-card" style="margin-top: 50px">
		<p class="text align ">{{ trick.content }}</p>
		<p></p>
	</div>

	<div class="detail-card">
		<ul class="list-group mx-auto" style="width: 70%;margin: 50px 0px; display:flex; flex-direction: row; justify-content: space-evenly; flex-wrap: wrap">
			<li class="list-group-item" style="font-size: 12px">Publié le
				{{ trick.createdAt | date('d/m/Y') }}
				à
				{{ trick.createdAt | date('H:i') }}</li>
			<li class="list-group-item" style="font-size: 12px">Modifié le
				{{ trick.updatedAt | date('d/m/Y') }}
				à
				{{ trick.updatedAt | date('H:i') }}</li>
			<li class="list-group-item" style="font-size: 12px">Groupe :
				{{ trick.categorie.title }}</li>
			<li class="list-group-item" style="font-size: 12px">Créer par
				{{ trick.user.username }}
			</li>
		</ul>
	</div>

	<section class="mb-4">
		<hr class="hr"/>
		<div class=" mx-auto" style="width: 70%;">
			<div class="card-body ">
				{% if app.user %}
					{{ form_start(comment) }}
					{{ form_row(comment.content, {'attr': {'placeholder': "Entrer votre message"} })}}
					<button type="submit" class="btn btn-outline-secondary shadow mt-4 mb-4 ">Commenter</button>
					{{ form_end(comment) }}
					<hr class="hr"/>
					{% for comment in listComments %}
						<!-- Comment with nested comments-->
						<div class="" style="display: flex;">
							<div class="flex-shrink-0">
								<img class="rounded-circle" style="width: 3rem; height: 3rem; margin-right: 10px;" src="{{ comment.user.avatar }} " alt="..."/>
							</div>
							<div
								class="card bg-light mb-4" style=" width: 100%">
								<!-- Parent comment-->
								<div class="ms-3">
									<div class="fw-bold">
										{{ comment.user.username }}
									</div>
									{{comment.content}}
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<p>⚠️ Il faut d'abord vous connecter pour pouvoir commenter !</p>
				{% endif %}
			</div>

		</section>


	{% endblock %}
