{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Modification du profil
{% endblock %}

{% block body %}

	<div class="col-lg-7 col-md-10 mx-auto">
		{% if app.user %}
			<a type="submit" href="{{ path('app_user_edit', {id : app.user.id}) }}" class="btn btn-outline-secondary shadow mt-4 mb-4 col-md-4" style="margin-top: 20px">Modifier mon mot de passe</a>
		{% endif %}
		<hr>

		<h1>Modification du profil</h1>

		{{ form_start(form) }}

		<div class="form-group " >
			{{ form_widget(form)}}
			<div class='form-error'>
				{{ form_errors(form) }}
			</div>
		</div>


		{{ form_end(form) }}

	</div>
	
{% endblock %}
